<section>
    <h1>MEMBER DASHBOARD</h1>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2" id="menu">
            <ul class="list-group list-group-numbered">
                <li><a class="list-group-item" routerLink="/member/profile">Profile</a></li>
                <li><a class="list-group-item" routerLink="/member/apply-claim">Add Claim</a></li>
                <li><a class="list-group-item" routerLink="/member/all-claim">View All Claims</a></li>
                <li><a class="list-group-item" routerLink="/member/view-plans">View All Plans</a></li>
                <li><a class="list-group-item" routerLink="/member/add-plan">Add Plan</a></li>
            </ul>
        </div>
        <div class="col-sm-8">
        </div>
    </div>
</section>