<section>
    <h1>ADMIN DASHBOARD</h1>
    <div class="row">
        
        <div class="col-sm-2" id="menu">
            <ul class="list-group list-group-numbered">
                <li><a class="list-group-item" routerLink="/admin/profile">Profile</a></li>
                <li><a class="list-group-item" routerLink="/admin/view-member">View Member</a></li>
                <li><a class="list-group-item" routerLink="/admin/view-claim">View Claims</a></li>
                <li><a class="list-group-item" routerLink="/admin/approve-claim">Approve Claims</a></li>
            </ul>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6" id="r-outlet">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-1">
            <img [src]="ImagePath">
        </div>
    </div>
</section>