<div class="card text-center">
    <div class="card-header">
      <h1>PROFILE</h1>
    </div>
    <div class="card-body">
        <div id="Info">
            <p>
                Admin Id:
            </p>
            <p>
                Name:
                
            </p>
            <p>
                DOB:
            </p>
            <p>
                contact no:
            </p>
            <p>
                Email:
            </p>
            <p>
                City:
            </p>
            <p>
                State:
            </p>
        </div>

    </div>
  </div>
